<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Brew</a>
        </div>
​
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                  </li>
                <% else %>
                  <li>
                  <%= link_to('Login', new_user_session_path)  %>
                  </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section class="bg-primary" id="about">
<div class="container">

<p> This is the page for entrepreneurs and lawyers to include some basic info about themselves </p>
<center>
<%= form_for current_user do |f| %>
  <%= f.label :name %>:
</br>
  <font color="black">
  <%= f.text_field :name %><br />
  </font>
  </br>

  <%= f.label :location %>:
  </br>
  <font color="black">
  <%= f.text_field :location %><br />
  </font>
  </br>

  <%= f.label :title %>:
  </br>
  <font color="black">
  <%= f.text_field :title %><br />
  </font>
</br>
  <font color="black">
  <%= f.submit %>
  </font>
<% end %>
</center>
<br>
</br>
</div>
</section>
