<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Brew - Connecting Attorneys with Entrepreneurs</a>
        </div>
​
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to('Home', root_path)  %>
                </li>
                <% if user_signed_in? %>
                  <li>
                  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
                  </li>
                <% else %>
                  <li>
                  <%= link_to('Login', new_user_session_path)  %>
                  </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section class="bg-primary" id="about">
<div class="container">

This is the basic profile page for both lawyers and entrepreneurs.


<style type="text/css">
#ProfilePage
{
    /* Move it off the top of the page, then centre it horizontally */
    margin: 50px auto;
    width: 635px;


}

#LeftCol
{
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 20px;


}

#Photo
{
    /* Width and height of photo container */
    width: 200px;
    height: 200px;

/* For visibility. Delete me */

}

#PhotoOptions
{
    text-align: center;
    width: 200px;


}

#Info
{
    width: 400px;
    text-align: left;

    /* Move it to the right */
    float: right;

/* For visibility. Delete me */

}

#Info strong
{
    /* Give it a width */
    display: inline-block;
    width: 100px;


}

#Info span
{
    /* Give it a width */
    display: inline-block;
    width: 250px;


}
</style>

<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo"><%= image_tag "icon-user-default.png", size: "200"%></div>
        <div id="ProfileOptions">
        <%= link_to('Edit Profile', edit_user_path, {:style => 'color: #FFFFFF'})  %>
        </div>
    </div>

    <div id="Info">
        <p>
            <strong>Name:</strong>
            <span><%= current_user[:name] %></span>
        </p>
        <p>
            <strong>Location:</strong>
            <span><%= current_user[:location] %></span>
        </p>
        <p>
            <strong>Title:</strong>
            <span><%= current_user[:title] %></span>
        </p>
        <% if current_user.designation == "lawyer" %>
        <p>
            <strong>Specialties:</strong>
          <br>
            <ul>
            <span><% current_user.specialties.each do |specialty| %>
                    <li><%= specialty.name %></li>
                  <% end %>
            </span>
          </ul>
        </p>
        <p>
            <strong>Interests:</strong>
          <br>
            <ul>
            <span><% current_user.interests.each do |interest| %>
                    <li><%= interest.name %></li>
                  <% end %>
            </span>
          </ul>
        </p>
        <% end %>
        <% if current_user.designation == "entrepreneur" %>
        <p>
            <strong>Companies:</strong>
          <br>
            <ul>
            <span>
              Company Placeholder for Entrepreneurs
            </span>
          </ul>
        </p>
        <% end %>
    </div>


    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>

<br>
</br>
</div>
</section>
